@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Raleway&display=swap');


:root {
    margin: 0;
	padding: 0;
	border: 0;

    /** CORES **/
    --primary-yellow:#fff159;
    --primary-grey:#a0a0a0;
    --primary-grey-dark: #171a21;
    --primary-grey-light: #272c38;
    --primary-box-shadow: 5px 5px 37px 17px #000000b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #c9c8c8;
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
*::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
}

html {
    font-size: 6.25%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant', serif;
    background-color: var(--primary-grey-dark);
    width: 100%;
    height: 100%;
    font-size: 16rem;
    text-align: center;
    overflow: overlay;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 35rem;
}

h2 {
    font-size: 25rem;
}

p {
    font-size: 16rem;
}
	
nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-yellow);
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
}

nav svg:hover {
    cursor: pointer;
    opacity: 0.7;
}

ul li {
    display: inline-block;
    padding-right: 20px;
}

ul {
    margin-top: auto;
    margin-bottom: auto;
}

li {
    font-size: 18rem;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 700;
}

a li:hover{
    color: white;
}


#home {
    padding-top: 130px;
    width: 100%;
    padding-bottom: 110px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: calc(100vh - 130px);
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
}

#quemsomos {
    color: var(--primary-yellow);
    background-color: var(--primary-grey-light);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(255,200,0,.5);
    padding-top: 120rem;
    padding-bottom: 120rem;
}

#quemsomos .foto-perfil img{
    border: 1px solid rgba(255,200,0,.5);
    border-radius: 5px;
    width: 400rem;
    height: calc(100vh - 180rem);
    -webkit-box-shadow: var(--primary-box-shadow);
    box-shadow: var(--primary-box-shadow);
    margin-right: 10rem;
}

#quemsomos .display-perfil {
    text-align: left;
    margin-right: 10rem;
    margin-left: 10rem;
}

#quemsomos .display-perfil h1{
    margin-bottom: 70rem;
    margin-left: 10rem;
}

#quemsomos .display-perfil h2 {
    margin-bottom: 30rem;
}

#quemsomos .display-perfil i{
    margin-bottom: 70rem;
}

.display-perfil .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-perfil .wrapper:nth-child(2) {
    display: block;
    border: 1px solid rgba(255,200,0,.5);
    padding: 10rem;
    border-radius: 5rem;
    -webkit-box-shadow: var(--primary-box-shadow);
    box-shadow: var(--primary-box-shadow);
    background-color: var(--primary-grey-dark);
}

#treinamento {
    color: var(--primary-yellow);
    border-top: 1px solid rgba(255,200,0,.5);
    padding-top: 50rem;
    padding-bottom: 50rem;
}

#treinamento .wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10rem;
}